{{> navbar}}
<form method="POST" action="/account/edit"></form>

<h1>Editing {{currentUser.name}}'s account </h1>



	<div>

		<label for="username"> Username </label>
		<input type="text" id="username" name="username" value="{{currentUser.username}}" />

	</div>

	<div>

		<label for="email"> Email </label>
		<input type="email" id="email" name="email" value="{{currentUser.email}}" />

	</div>

	<div>

		<label for="name"> Name </label>
		<input type="text" id="name" name="name" value="{{currentUser.name}}" />

	</div>

	
		<!-- code in js to set default date to today 
document.getElementById('date-field').value = new Date().toISOString().slice(0, 10);
-->

	


	<div>
		<label for="membership"> Membership Access </label>
		<input type="checkbox" name="membership" value="member" />
	</div>

	<div>
		<label for="phoneNumber"> Phone Number </label>
		<input type="tel" id="phone" name="phone" pattern="[0-9]{10}" value="{{currentUser.phoneNumber}}" />

	</div>

	<div>
		<label for="password"> Password </label>
		<input type="password" name="password" id="password" value="xxxx" />
	</div>

	<button> Submit Changes !</button>
	