
<form method="POST" action="/account/{{currentUser._id}}/edit">

<div>
<h1 class="editaccount-text">Editing {{currentUser.name}}'s account </h1>
</div>

	<div class="update-form-container">

	<div>

	
		<input type="text" class="edittextinput" id="username" name="username" value="{{currentUser.username}}" />

	</div>

	<div>

	
		<input type="email" class="edittextinput" id="email" name="email" value="{{currentUser.email}}" />

	</div>

	<div>

		
		<input type="text" class="edittextinput" id="name" name="name" value="{{currentUser.name}}" />

	</div>

	
		<!-- code in js to set default date to today 
document.getElementById('date-field').value = new Date().toISOString().slice(0, 10);
-->

	


	

	<div>
		
		
		
		<input type="tel" class="edittextinput" id="phone" name="phone" pattern="[0-9]{10}" value="{{CurrentUser.phoneNumber}}" placeholder="xxxx-xxxx" />

	</div>

	<div>
		
		<input type="password" class="edittextinput" name="password" id="password" placeholder="Update Password" />
	</div>

	
		
<div>
	<label for="membership"> Subscribe to premium membership </label>
	<input type="checkbox" class="edittextinput" name="membership" value="member"
		placeholder="{{currentUser.membership}}" />
</div>
	



	<div>
	<button class="editaccount-btn"> Submit Changes!</button>
	</div>

	</form>

	</div>