<h1>Playdates</h1>
<h2>Received</h2>
<ol>
    {{#each playdatesPending}}
    <li>
        <p>Host:{{this.senderId.name}}</p>
        <img src={{this.senderId.picture}}>
        <p>Description: {{this.description}}</p>
        <p>Date: {{this.proposedDate}}</p>
    </li>
    <a href="/playdates/invite/{{this.id}}/accept">Accept</a>
    <a href="/playdates/invite/{{this.id}}/reject">Reject</a>
    <a href="/playdates/invite/{{this.id}}">Details</a>
    {{/each}}
</ol>
<h2>Confirmed</h2>
<ol>
    {{#each playdatesConfirmed}}
    <li>
        <p>Host:{{this.senderId.name}}</p>
        <p>Guest: {{this.receiverId.name}}</p>
        {{!--
        <img src={{this.senderId.picture}}>
        
        <img src={{this.receiverId.picture}}> </br> --}}
        <p>Description: {{this.description}}</p>
        <p>Date: {{this.proposedDate}}</p>
    </li>
    <a href="/playdates/invite/{{this.id}}">Details</a>
    {{/each}}
</ol>
<h2>Sent</h2>
<ol>
    {{#each playdatesSent}}
    <p>Guest: {{this.receiverId.name}}</p>
    {{!--
    <img src={{this.receiverId.picture}}> --}}

    <p>Description: {{this.description}}</p>
    <p>Date: {{this.proposedDate}}</p>
    </li>
    <a href="/playdates/invite/{{this.id}}">Details</a>
    <a href="/playdates/invite/{{this.id}}/cancel">Cancel</a>
    {{/each}}
</ol>