<div class="invitedetails-container">

<h1>
    Invite details
</h1>
<div class="inviteDetailsGrid">
    <div class="horizontalgrid">
        <div>
            <p><img src="{{invite.senderId.picture}}" alt="Cat" class="invitePhoto"></p>
            <p class="inviteText"><span class="bold">From: </span>{{invite.senderId.name}}</p>
            {{#if isConfirmed}}
            <p class="inviteText"><span class="bold">Email: </span>{{senderOwner.email}}</p>
            <p class="inviteText"><span class="bold">Phone: </span>{{senderOwner.phoneNumber}}</p>
            {{/if}}

        </div>
        <div>
            <p><img src="{{invite.receiverId.picture}} " alt="Cat" class="invitePhoto"></p>
            <p class="inviteText"><span class="bold">To: </span>{{invite.receiverId.name}}</p>
            {{#if isConfirmed}}
            <p class="inviteText"><span class="bold">Email: </span>{{receiverOwner.email}}</p>
            <p class="inviteText"><span class="bold">Phone: </span>{{receiverOwner.phoneNumber}}</p>
            {{/if}}
        </div>
    </div>

    <p id="lat" hidden >{{invite.lat}}</p>
    <p id="lng" hidden >{{invite.lng}}</p>

    <p class="inviteText"><span class="bold">Description: </span>{{invite.description}}</p>
    <p class="inviteText"><span class="bold">Date: </span>{{invite.proposedDate}}</p>
    <p id = "address" class="inviteText"><span class="bold">Location: </span>{{invite.location}}</p>
    
    {{#if invite.lat}}
    <div id="map"></div>
    {{/if}}

    <div class="inviteButtons">
    {{#unless isOwner}}
    {{#if isPending}}

    <p><a href="/playdates/invite/{{invite.id}}/accept">Accept</a></p>
    <p><a href="/playdates/invite/{{invite.id}}/reject">Reject</a></p>
    {{/if}}
    {{/unless}}

    {{#isOwner}}
    <p><a href="/playdates/invite/{{invite.id}}/cancel">Delete</a></p>
    {{/isOwner}}
</div>

</div>


</div>


<script type="text/javascript" src="/javascripts/initMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"
    async></script>
</div>
