<h1>
    Invite details
</h1>
<div>
    <p>
        Sender:{{invite.senderId.name}}
    <p>
        Receiver:
    </p>
    <p>
        Description: {{invite.description}}
    </p>
    <p>
        Date: {{invite.proposedDate}}
    </p>
    
    {{#unless isOwner}}
    <a href="/playdates/invite/{{invite.id}}/accept">Accept</a></br>
    <a href="/playdates/invite/{{invite.id}}/reject">Reject</a></br>
    {{/unless}}

    {{#isOwner}}
    <a href="/playdates/invite/{{invite.id}}/reject">Cancel</a></br>
    {{/isOwner}}
</div>