<h1>
    Invite details
</h1>
<div>
        <p>Host:{{invite.senderId.name}}</p>
        <p><img src={{invite.senderId.picture}}></p>


        <p>Guest: {{invite.receiverId.name}}</p>
        <p></p><img src={{invite.receiverId.picture}}></p>
        <p>
            Description: {{invite.description}}
        </p>
        <p>
            Date: {{invite.proposedDate}}
        </p>

        {{#unless isOwner}}
        <a href="/playdates/invite/{{invite.id}}/accept">Accept</a></br>
        <a href="/playdates/invite/{{invite.id}}/reject">Reject</a></br>
        {{/unless}}

        {{#isOwner}}
        <a href="/playdates/invite/{{invite.id}}/cancel">Cancel</a></br>
        {{/isOwner}}
</div>