<<<<<<< HEAD
<div class="page-container">
<h1>Send invite</h1>
<div>
    <form method="post" action="/playdates/invite/{{guestId}}">
        <input type="text" name="inviteDesc" placeholder="Describe your invitation">
        <input type="datetime-local" name="inviteDate" value = {{date}}>
        <input id="address" name="address" placeholder="Enter address" class="form-control">

        <button>Send invite</button>
    </form>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key={{key}}"></script>
    <script type="text/javascript" src="/javascripts/googlemaps.config.js"></script>
</div>
=======
<div id="invite">
    <h1>Invite {{guest}}</h1>
    <div class="update-form-container">
        <form method="post" action="/playdates/invite/{{guestId}}">
            <div>
                <input type="text" name="inviteDesc" placeholder="Describe your invitation" class="edittextinput">
            </div>
            <div>
                <input type="datetime-local" name="inviteDate" value={{date}} class="edittextinput">
            </div>
            <div>
                <input id="address" name="address" placeholder="Enter address" class="form-control edittextinput">
            </div>
            <button class="editaccount-btn">Send invite</button>
        </form>
        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key={{key}}"></script>
        <script type="text/javascript" src="/javascripts/googlemaps.config.js"></script>
    </div>

>>>>>>> origin/main
</div>