
<div class="pet-list-card">
    <div>
    <img src="{{this.picture}}" alt="photo {{this.name}}">
    <h2>{{this.name}}</h2>
    <p>{{this.type}}<p>

        <a href="pet/{{this._id}}">Edit my pet's info</a>
    </div>
</div>
