<div class="pet-card">
    
    {{!-- <div class="pet-card-photo-container">
        <div class="pet-card-photo-content" style="background-image: url('{{this.picture}}')"></div></a>
    </div> --}}
    
    <div class="pet-card-photo-container">
    <a href='/{{this._id}}'><img src="{{this.picture}}" alt="photo {{this.name}}"></a>
    </div>

    <div class="empty-container"> </div>
    
    <div class="pet-card-content">
        <h3>{{this.name}}</h3>

        <p>Next playdate</p>
        <!-- ADD NEXT PLAYDATE INFO-->

        <p>Following playdates : <span>{{confirmedPlaydates.length}}</span></p>

        <a href='/{{this._id}}/playdates' class="small-link">See more...</a>

        <p>New invitation received : <span></span></p>

        <a class="green-btn" href="/{{this._id}}/search">SEARCH</a>
    </div>

</div>
