<div class="pet-list-card">
    
    <div>
        <a href='/{{this._id}}'><div class="pet-list-card-img" style="background-image: url('{{this.picture}}')"></div></a>
    </div>

    <div>
        <h3>{{this.name}}</h3>
        <p>{{this.type}}<p>

        <p>Next playdate</p>
        <!-- ADD NEXT PLAYDATE INFO-->

        <p>Following playdates (<span> X </span>)</p>

        <p><a href='/{{this._id}}/playdates'>See more...</p>

        <p>New invitation received (<span> X </span>)

        <p><a href="/{{this._id}}/search-playmate">SEARCH</p>
    </div>
</div>
