<div class="pet-search-card">
    <div class="photo-container">
        <img src="{{this.picture}}" alt="photo {{this.name}}">
    </div>
    <div>
        <h2><a href="/search/{{this._id}}" class="title">{{this.name}}</a></h2>
        <p>{{this.type}}<p>
        <p class="description">{{this.description}}</p>
        <button class="invite-btn"><a href="/playdates/{{this._id}}/invite/" class="button">SEND INVITATION</a></button>
    </div>
</div>  