<div class="pet-search-card">

    <div class="photo-container" style="background-image: url('{{this.picture}}')">
    </div>
    <div>
        <a href="/search/{{this._id}}"><h2>{{this.name}}</h2></a>
        <p>{{this.type}}<p>
        <button class="invite-btn"><a href="/playdates/{{this._id}}/invite/">SEND INVITATION</a></button>
    </div>
</div>
