<div class="pet-list-card">
    <a href="/search/{{this._id}}">
    <div>
    <img src="{{this.picture}}" alt="photo {{this.name}}">
    <h2>{{this.name}}</h2>
    <p>{{this.type}}<p>
    <p>{{../owner.username}}</p>
    </div>
    </a>
</div>
