<div class="pet-search-card">

    <div class="photo-container" style="background-image: url('{{this.picture}}')">
    </div>
    <div>
        <h2><a href="/search/{{this._id}}" class="title">{{this.name}}</a></h2>
        <p>{{this.type}}
        <p>
        <div class="description">
            <p>{{this.description}}</p>
        </div>
        <button class="invite-btn"><a href="/playdates/{{this._id}}/invite/" class="button">SEND INVITATION</a></button>
    </div>
</div>