<div class="pet-search-card">
    <a href="/search/{{this._id}}">
    <div>
    <img src="{{this.picture}}" alt="photo {{this.name}}">
    <h2>{{this.name}}</h2>
    </div>
    </a>
    <p>{{this.type}}<p>
    {{!-- <p>{{../owner.username}}</p> --}}

    <a class="invite-link" href="/playdates/{{this._id}}/invite/">Play</a>
    
</div>
