<div class="edit-pet-info-container">
<h2>ADD A PET</h2>

<form id="add-pet-form" method="POST" action="/add-pet" enctype="multipart/form-data"> 

    <div class="question">
        <label for="name">Name</label>
        <input type="text" name="name" class="edit-pet-form" required>
    </div>

    <div>
        <label for="type">Select the type of your pet</label>
        <select name="type" class="edit-pet-form-select" required>
            <option>...</option>
            {{#each type}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="breed">Provide further details on your pet</label>
        <input type="text" name="breed" class="edit-pet-form" placeholder="breed, race, scientific name">
    </div>

    <div>
        <label for="gender">Gender</label>
        <select name="gender" class="edit-pet-form-select">
            <option>...</option>
            {{#each gender}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="size">Size</label>
        <select name="size" class="edit-pet-form-select">
            <option>...</option>
            {{#each size}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <div>
            <p>You may provide any details on your pet's physical condition that might be relevant on playdates.</p>
            <p>Example : gets easily tired, cannot run fast, deaf, etc...</p>
        </div>
        <label for="size">Physical condition</label>
        <input type="text" name="physicalCondition" class="edit-pet-form">
    </div>

    <div>
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" class="edit-pet-form" name="dateOfBirth">
    </div>

    <div>
        <label for="size">Information</label>
        <textarea name="description" class="edit-pet-form" placeholder="Please provide a short introduction of the pet, or a description of the playdates you would like to find."></textarea>
    </div>

    <div>
        <legend>Preferred location(s) to play</legend>
        {{#each environment}}
        <div class="select-option">
        <input type="checkbox" id="{{this}}" name="preferredEnvironment" value="{{this}}">
        <label for="{{this}}">{{this}}</label>
        </div>
        {{/each}}
    </div>

    <div>
        <legend>Preferred time(s) to play</legend>
        {{#each time}}
        <div class="select-option">
        <input type="checkbox" id="{{this}}" name="time" class="edit-pet-form-checkbox" value="{{this}}">
        <label for="{{this}}">{{this}}</label>
        </div>
        {{/each}}
    </div>

    <div>
        <label for="size">Upload a picture</label>
        <input name="picture" type="file">
    </div>

    <button type='submit'>ADD MY PET !</button>
</form>

</div>