<div id="add-pet-page">
<h2>ADD A PET</h2>

<form id="add-pet-form" method="POST" action="/add-pet" enctype="multipart/form-data"> 

    <div class="question">
        <label for="name">my pet's name is</label>
        <input type="text" name="name" placeholder="Snowflake" required>
    </div>

    <div>
        <label for="type">my pet is a </label>
        <select name="type" required>
            <option>...</option>
            {{#each type}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="breed">my pet is a</label>
        <input type="text" name="breed" placeholder="breed, race, scientific name">
    </div>

    <div>
        <label for="gender">my pet is </label>
        <select name="gender">
            <option>...</option>
            {{#each gender}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="size">describe the size of your pet</label>
        <input type="text" name="size" placeholder="fits in one hand, taller than Michael Jordan">
    </div>

    <div>
        <label for="size">provide any details on your pet's physical condition that might be relevant on playdates</label>
        <input type="text" name="physicalCondition" placeholder="cannot run fast, one weak paw, blind">
    </div>

    <div>
        <label for="dateOfBirth">my pet was born on</label>
        <input type="date" name="dateOfBirth">
    </div>

    <div>
        <label for="size">describe your pet</label>
        <input type="text" name="description" placeholder="timid at first then sociable af">
    </div>

    {{!-- <div>
        <label for="preferredEnvironment">WHERE DOES YOUR PET PREFER TO PLAY ? </label>
        <select name="preferredEnvironment" multiple>
            {{#each environment}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div> --}}

        <div>
        <fieldset>
            <legend>where does your pet prefer to play ?</legend>
            {{#each environment}}
            <div class="select-environment-option">
            <input type="checkbox" id="{{this}}" name="preferredEnvironment" value="{{this}}">
            <label for="{{this}}">{{this}}</label>
            </div>
            {{/each}}
        </fieldset>
    </div>



    {{!-- <div>
        <label for="size">LOCATION</label>
        <input name="picture" type="text" name="location" placeholder="City, Country">
    </div> --}}

    <div>
        <label for="size">ADD A PICTURE OF MY PET</label>
        <input name="picture" type="file">
    </div>

    <button type='submit'>ADD MY PET !</button>
</form>

</div>