<div class="edit-pet-info-container">
<h2>ADD A PET</h2>

<form id="add-pet-form" method="POST" action="/add-pet" enctype="multipart/form-data"> 

    <div class="edit-pet-form">
        <label for="name">Name</label>
        <input type="text" name="name" required>
    </div>

    <div class="edit-pet-form select">
        <label for="type">Type</label>
        <select name="type" required>
            
            {{#each type}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div class="edit-pet-form">
        <label for="breed">Provide further details on your pet</label>
        <input type="text" name="breed" placeholder="breed, race, scientific name">
    </div>

    <div class="edit-pet-form select">
        <label for="gender">Gender</label>
        <select name="gender">
            
            {{#each gender}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div class="edit-pet-form date">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date"  name="dateOfBirth">
    </div>

    <div class="edit-pet-form select">
        <label for="size">Size</label>
        <select name="size">
            
            {{#each size}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div class="edit-pet-form textarea">
        <label for="size">Physical condition</label>
        <textarea name="physicalCondition" >You may provide any details on your pet's physical condition that might be relevant on playdates.
Example : gets easily tired, cannot run fast, deaf, etc...</textarea>
    </div>

    <div class="edit-pet-form checkbox">
        <legend>Preferred location(s) to play</legend>
        {{#each environment}}
        <div class="select-option">
        <input type="checkbox" id="{{this}}" name="preferredEnvironment" value="{{this}}">
        <label for="{{this}}">{{this}}</label>
        </div>
        {{/each}}
    </div>

    <div class="edit-pet-form checkbox">
        <legend>Preferred time(s) to play</legend>
        {{#each time}}
        <div class="select-option">
        <input type="checkbox" id="{{this}}" name="time" value="{{this}}">
        <label for="{{this}}">{{this}}</label>
        </div>
        {{/each}}
    </div>

    <div class="edit-pet-form textarea">
        <label for="size">Information</label>
        <textarea name="description">Please provide a short introduction of the pet, or a description of the playdates you would like to find.</textarea>
    </div>

    <div class="edit-pet-form">
        <label for="size">Upload a picture</label>
        <input name="picture" type="file">
    </div>

    <button type='submit' class="form-pet-btn">Add my pet !</button>
</form>

</div>