<div id="add-pet-page">

<div class="edit-pet-info-container">
<h2>EDIT {{pet.name}}'S INFO</h2>

<form id="add-pet-form" method="POST" action="/pet/{{pet._id}}/edit" enctype="multipart/form-data"> 

    <div class="question">
        <label for="name">My pet's name is</label>
        <input type="text" name="name" class="edit-pet-form" placeholder="Snowflake" value="{{pet.name}}" required>
    </div>

    <div>
        <label for="type">My pet is a</label>
        <select name="type" class="edit-pet-form-select" required>
            {{#each type}}
            <option {{isSelected ../pet.type this}} value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="breed"> My pet is a</label>
        <input type="text" name="breed" class="edit-pet-form" placeholder="breed, race, scientific name" value="{{pet.breed}}">
    </div>

    <div>
        <label for="gender">My pet is a</label>
        <select name="gender" class="edit-pet-form-select">
            {{#each gender}}
            <option {{isSelected ../pet.gender this}} value="{{this}}">{{this}}</option>
            {{/each}}

            {{!-- <option {{isSelected pet.gender "Male"}} value="Male">Male</option>
            <option {{isSelected pet.gender "Female"}} value="Female">Female</option> 
            <option {{isSelected pet.gender "Not specified"}} value="not specified">Not specified</option>          --}}
        </select>
    </div>

    <div>
        <label for="size">My pet is </label>
        <select name="size" class="edit-pet-form-select">
            <option>...</option>
            {{#each size}}
            <option {{isSelected ../pet.size this}} value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="size">Physical Condition</label>
        <input type="text" name="physicalCondition" class="edit-pet-form" placeholder="cannot run fast, one weak paw, blind" value="{{pet.physicalCondition}}">
    </div>

    <div>
        <label for="dateOfBirth">Date of Birth</label>
        <input type="date" name="dateOfBirth" class="edit-pet-form" value="{{pet.dateOfBirth}}">
    </div>

    <div>
        <label for="size">A bit about your pet</label>
        <input type="text" name="description" class="edit-pet-form" placeholder="timid at first then sociable af" value="{{pet.description}}">
    </div>

    {{!-- <div>
        <label for="preferredEnvironment">WHERE DOES YOUR PET PREFER TO PLAY ? </label>
        <select name="preferredEnvironment" multiple>
            {{#each environment}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div> --}}

    <div>
        <fieldset>
            <legend>WHERE DOES YOUR PET PREFER TO PLAY ? </legend>
            {{#each environment}}
            <div class="select--option">
            <input type="checkbox" id="{{this}}" class="edit-pet-form-checkbox" name="preferredEnvironment" value="{{this}}" {{isChecked ../pet.preferredEnvironment this}}>
            <label for="{{this}}">{{this}}</label>
            </div>
            {{/each}}
        </fieldset>
    </div>

    <div>
        <fieldset>
            <legend>WHEN DOES YOUR PET PREFER TO PLAY ? </legend>
            {{#each time}}
            <div class="select-option">
            <input type="checkbox" id="{{this}}" class="edit-pet-form" name="time" value="{{this}}" {{isChecked ../pet.time this}}>
            <label for="{{this}}">{{this}}</label>
            </div>
            {{/each}}
        </fieldset>
    </div>

    {{!-- <div>
        <label for="size">LOCATION</label>
        <input name="picture" type="text" name="location" placeholder="City, Country">
    </div> --}}

    <div>
        <label for="size">Add pictures</label>
        <input name="picture" type="file">
    </div>

    <button type='submit'><a href="/pet/{{pet._id}}">Edit my pet's info</a></button>
</form>

</div>
</div> 