<section class="one-pet-container">
    <div class="photo-container">
        <img src="{{pet.picture}}" alt="photo {{pet.name}}">
        <h2>{{pet.name}}</h2>
    </div>

    <div class="info-container">

        <div>
            <p>Type : <span class="info">{{pet.type}}</span></p>
            <p>{{pet.breed}}</p>
        </div>
        
        <div>
            <p>Gender : <span class="info">{{pet.gender}}</span></p>
        </div>

        <div>
            <p>Size : <span class="info">{{pet.size}}</span></p>
        </div>
        
        <div>
            <p>Date of birth : <span class="info">{{pet.dateOfBirth}}</span></p>
        </div>

        <div>
            <p>Prefers to play at :</p>
            <ul>
                {{#each pet.preferredEnvironment}}
                <li class="info">{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div>
            <p>Additional details on the physical conditions</p>
            <p class="info">{{pet.physicalCondition}}</p>
        </div>

        <div>
            <p>Location : <span class="info">{{pet.location}}</span></p>
        </div>

    </div>

        {{!-- <p>Owner : <span>{{pet.owner}}</span></p> --}}
        <a href="/{{pet._id}}/edit" class="action-btn edit">Edit pet profile</a>
        <a href="/{{pet._id}}/delete" class="action-btn delete">Delete pet profile</a>
    </div>

</section>



      