<div class="one-pet-container">
    <img src="{{pet.picture}}" alt="photo {{pet.name}}">
    <h2>{{pet.name}}</h2>
    <p>{{pet.type}}<p>

        <p>{{pet.breef}}</p>
        <p>{{pet.gender}}</p>
        <p>{{pet.size}}</p>
        <p>{{pet.dateOfBirth}}</p>
        <p>{{pet.physicalCondition}}</p>

        <ul>
            {{#each pet.preferredEnvironment}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <p>{{pet.location}}</p>

        <p>
            {{#each pet.tags}}<span>{{pet}} </span>{{/each}}

        </p>
        <p>{{pet.owner}}</p>
        
    </ul>
</div>