<section class="search-section">

<div>
    <h1>Find a playmate</h1>

    <p>I want to find a playmate according to ...</p>
</div>
    
<div>
    <form id="search-filter-form" method="GET" action="/search/filter">

        <div class="search-form-option one">
            <h3>TYPE</h3>
            <p>&#9660; Select the type of pet</p>
            <ul class="dropdown-content">
                {{#each type}}
                <li>
                <input {{isChecked}} type="checkbox" name="type" value="{{this}}">
                <label>{{this}}</label>
                </li>
                {{/each}}
            </ul>
            <input type='hidden'>
        </div>

        <div class="search-form-option two">
            <h3>SIZE</h3>
            <p>Select the size of the pet</p>
            <ul>
                {{#each size}}
                <li>
                <input {{isChecked}} type="checkbox" name="size" value="{{this}}">
                <label>{{this}}</label>
                </li>
                {{/each}}
            </ul>
            <input type='hidden'>
        </div>

        <div class="search-form-option three">
            <h3>TIME AVAILABILITY</h3>
            <p>It's better if my playmate is available...</p>
            <ul>
                {{#each time}}
                <li>
                <input {{isChecked}} type="checkbox" name="time" value="{{this}}">
                <label>{{this}}</label>
                </li>
                {{/each}}
            </ul>
            <input type='hidden'>
        </div>

        <div>
        <button type="submit" class="search-btn btn">SEARCH</button>
        <a href="/{{currentPet._id}}/search" class="reset-filter-btn">RESET FILTERS</a>
        </div>

    </form> 
</div>
</section>


<section class="pet-search-container">

    {{#each pet}}
    {{> petCard}}
    {{/each}}

</section>