<div class="search-form-page">
<h1>FIND A PLAYMATE</h1>

<div class="search-form" id="search-playdate-form">
    <form id="search-filter">

    <div>
        <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
            <option disabled selected>Choose your type of playdate</option>
            {{#each type}}
            <option name="type" value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <fieldset>
            <legend>when</legend>
            {{#each time}}
            <div class="select-filter">
            <input type="checkbox" id="{{this}}" name="time" value="{{this}}">
            <label for="{{this}}">{{this}}</label>
            </div>
            {{/each}}
        </fieldset>
    </div>

    </form>

</div>



<div class="pet-search-container">
{{#each pet}}
{{> petCard}}
{{/each}}
</div>

</div>
